@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Poppins:wght@400;600;700&display=swap');

footer {
    background-color: #333;
    color: #fff;
    padding: 2.5rem 0;
    margin-top: -0.625rem;
    font-family: 'Roboto', sans-serif; /* Fuente base para texto continuo */
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1.25rem;
}

.footer-column {
    flex: 1;
    min-width: 12.5rem;
    margin: 0.625rem;
}

.footer-column h3 {
    margin-bottom: 0.9375rem;
    font-size: 1.125rem;
    font-family: 'Poppins', sans-serif; /* Fuente para encabezados */
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin: 0.625rem 0;
}

.footer-column ul li a {
    color: #ccc;
    text-decoration: none;
    font-family: 'Roboto', sans-serif; /* Fuente para enlaces */
}

.footer-column ul li a:hover {
    color: #fff;
}

.footer-column p {
    margin: 0.625rem 0;
    font-family: 'Roboto', sans-serif; /* Fuente para párrafos */
}

.social-icons a {
    margin: 0 0.625rem;
    color: #ccc;
    font-size: 1.5rem;
    text-decoration: none;
}

.social-icons a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    padding: 1.25rem;
    background-color: #222;
    font-family: 'Roboto', sans-serif; /* Fuente base */
}

@media (max-width: 64rem) {
    .footer-container {
        padding: 1.25rem 1.5rem;
    }
}

@media (max-width: 48rem) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-column {
        margin: 1rem 0;
    }

    .social-icons {
        margin-top: 1rem;
    }
}

@media (max-width: 36rem) {
    .footer-container {
        padding: 1rem 1rem;
    }

    .footer-column h3 {
        font-size: 1rem;
    }

    .footer-column p,
    .footer-column ul li a {
        font-size: 0.875rem;
    }

    .social-icons a {
        font-size: 1.25rem;
    }
}
