/* Body to center content horizontally and vertically */
body {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;
    /* Full viewport height */
    margin: 0;
    /* Remove default margin */
}

/* Container for input and SVG */
.container-input {
    position: relative;
    width: 90%;
    /* Set a fixed width for the container */
    display: flex;
    align-items: center;
    /* Vertically align the input and SVG */
    justify-content: center;
    /* Horizontally align the input */
}

/* Input field styles */
.input {
    width: 100%;
    /* Input takes the full width of its container */
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
}

/* Positioning the SVG inside the container */
.container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    /* Vertically center the icon */
}

/* Input focus state */
.input:focus {
    opacity: 1;
    width: 100%;
    /* Maintain full width on focus */
}

.papa {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

/* Para pantallas grandes (monitores de escritorio) */
@media (min-width: 1200px) {
    .container-input {
        width: 60%;
    }
}

/* Para pantallas medianas (tabletas y pantallas más pequeñas) */
@media (max-width: 1199px) and (min-width: 768px) {
    .container-input {
        width: 80%;
    }
}

/* Para pantallas pequeñas (teléfonos móviles) */
@media (max-width: 767px) {
    .container-input {
        width: 95%;
    }

    .input {
        padding: 10px 0px 10px 35px;
    }

    .container-input svg {
        width: 18px;
        height: 18px;
        left: 8px;
    }
}
