/* Contenedor principal del carrusel */
.orders-gallery {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  max-width: 90%;
  padding: 0 2vw;
  margin: 2rem auto; /* Separación entre los carruseles */
}

.main-container {
  margin-top: 2rem;
}

/* Estilo de las miniaturas (cards) y ocultar scrollbars */
.orders-thumbnails {
  display: flex;
  gap: 2vw;
  height: 25rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: calc(100% - 4vw);
  padding: 0 1vw;
}

/* Ocultar las barras de desplazamiento */
.orders-thumbnails::-webkit-scrollbar {
  display: none;
}
.orders-thumbnails {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Estilo de las tarjetas */
.order-wrapper {
  flex: 0 0 15vw;
  height: auto;
  min-height: 18vw;
  max-height: 22vw;
  border: 0.1vw solid #ccc;
  border-radius: 0.3vw;
  background-color: #fff;
  box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.order-wrapper:hover {
  transform: scale(1.05);
}

.card-content {
  padding: 2vw;
  text-align: center;
}

/* Botones de navegación */
.nav-left,
.nav-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ff7800;
  border: none;
  color: white;
  padding: 0.5vw;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5vw;
  z-index: 2;
}

.nav-left {
  left: 0.5vw;
}

.nav-right {
  right: 0.5vw;
}

.nav-left:hover,
.nav-right:hover {
  background-color: #ff6801;
}

/* Estilo del botón "Marcar como Completado" en el modal */
.complete-btn {
  background-color: #ff7800;
  color: white;
  padding: 0.5vw 1vw;
  border-radius: 0.3vw;
  border: none;
  font-size: 1vw;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: inline-block;
  text-align: center;
}

.complete-btn:hover {
  background-color: #ff6801;
}

.order-wrapper {
  position: relative;
  width: 15vw;
  height: 18vw;
  background-size: cover;
  background-position: center;
  border-radius: 1vw;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-wrapper .card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 1rem;
  opacity: 0;
  border-radius: 1vw;
  padding: 0.5vw;
  transition: opacity 0.5s ease;
}

.order-wrapper:hover .card-content {
  opacity: 1;
}

.order-wrapper h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.order-wrapper p {
  font-size: 1rem;
}

.icon-background {
  position: absolute;
  font-size: 6vw;
  color: #f0f0f0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.orders-thumbnails {
  overflow-x: scroll;
  display: flex;
  align-items: center; /* Centra las cards verticalmente */
  justify-content: flex-start; /* Asegúrate de que las tarjetas no estén centradas automáticamente */
  gap: 2vw;
  height: 25vw;
  scroll-behavior: smooth;
  width: calc(100% - 4vw);
  padding: 0 1vw;
}

.main-container {
  margin-left: 7rem;
}

/* Media Queries */
@media (max-width: 768px) {
  .orders-gallery {
    max-width: 95%;
    padding: 0 1rem;
  }

  .order-wrapper {
    flex: 0 0 40%;
    height: auto;
    min-height: 25vw;
    max-height: 30vw;
  }

  .nav-left,
  .nav-right {
    font-size: 1rem;
    padding: 0.3rem;
  }

  .icon-background {
    font-size: 4vw;
  }

  .card-content {
    font-size: 0.8rem;
    padding: 1rem;
  }

  .main-container {
    margin-left: 6rem;
    margin-right: 2rem;
  }
}

@media (max-width: 480px) {
  .orders-gallery {
    flex-direction: column;
    padding: 0 1rem;
  }

  .order-wrapper {
    flex: 0 0 80%;
    height: auto;
    min-height: 40vw;
    max-height: 50vw;
  }

  .nav-left,
  .nav-right {
    font-size: 0.8rem;
    padding: 0.2rem;
  }

  .icon-background {
    font-size: 3vw;
  }

  .card-content {
    font-size: 0.7rem;
    padding: 0.5rem;
  }

  .main-container {
    margin-left: 4rem;
    margin-right: 2rem;
  }
}
