<div class="container" [ngClass]="{ 'sidebar-expanded': isSidebarExpanded }">
    <!-- Sidebar -->
    <div class="sidebar" [ngClass]="{ 'expanded': isSidebarExpanded }">
        <app-sidebar (mouseenter)="expandSidebar()" (mouseleave)="collapseSidebar()"></app-sidebar>
    </div>

    <!-- Contenido Principal -->
    <section class="main-container">
        <!-- Carrusel de Mis Servicios Solicitasdos -->
        <h2>Mis Servicios Solicitados</h2>
        <div class="orders-gallery">
            <button class="nav-left" (click)="scrollOrdersLeft('orders-thumbnails-peticiones')">&larr;</button>
            <div class="orders-thumbnails orders-thumbnails-peticiones">
                <div *ngFor="let peticion of misPeticiones" class="order-wrapper"
                    (click)="abrirModalOrden(peticion.id, 'misreservas')">
                    <fa-icon [icon]="['fas', 'clipboard-list']" class="icon-background"></fa-icon>
                    <div class="card-content">
                        <h3>{{ peticion.nombre }}</h3>
                        <p>{{ peticion.descripcion }}</p>
                        <p>Precio: ${{ peticion.precio }}</p>
                    </div>
                </div>
            </div>
            <button class="nav-right" (click)="scrollOrdersRight('orders-thumbnails-peticiones')">&rarr;</button>
        </div>

        <!-- Carrusel de Mis Servicios Completados -->
        <h2>Mis Servicios Completados</h2>
        <div class="orders-gallery">
            <button class="nav-left"
                (click)="scrollOrdersLeft('orders-thumbnails-servicios-completados')">&larr;</button>
            <div class="orders-thumbnails orders-thumbnails-servicios-completados">
                <div *ngFor="let servicio of misServiciosCompletados" class="order-wrapper"
                    (click)="abrirModalOrden(servicio.id, 'misreservas')">
                    <fa-icon [icon]="['fas', 'check-square']" class="icon-background"></fa-icon>
                    <div class="card-content">
                        <h3>{{ servicio.nombre }}</h3>
                        <p>{{ servicio.descripcion }}</p>
                        <p>Precio: ${{ servicio.precio }}</p>
                    </div>
                </div>
            </div>
            <button class="nav-right"
                (click)="scrollOrdersRight('orders-thumbnails-servicios-completados')">&rarr;</button>
        </div>
    </section>
</div>