<div class="container" [ngClass]="{ 'sidebar-expanded': isSidebarExpanded }">
  <!-- Sidebar -->
  <div class="sidebar" [ngClass]="{ 'expanded': isSidebarExpanded }">
    <app-sidebar (mouseenter)="expandSidebar()" (mouseleave)="collapseSidebar()"></app-sidebar>
  </div>

  <div id="booking" class="section">
    <div class="booking-form">
      <div class="form-title">Reserva para {{ tarea?.nombre }}</div>
      <form (ngSubmit)="confirmBooking()" *ngIf="!bookingSuccess">
        <div class="form-group">
          <label for="description">Dirección</label>
          <textarea
            id="description"
            class="form-control"
            placeholder="Escribe la dirección de donde quieres reservar"
            [(ngModel)]="description"
            name="description"
            required
          ></textarea>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            id="email"
            type="email"
            class="form-control"
            placeholder="Ingresa tu correo electrónico"
            [(ngModel)]="email"
            name="email"
            required
          />
        </div>
        <div class="form-group">
          <label for="telefono">Teléfono</label>
          <input
            id="telefono"
            type="tel"
            class="form-control"
            placeholder="Ingresa tu número de teléfono"
            [(ngModel)]="telefono"
            name="telefono"
            required
          />
        </div>
        <div class="form-group">
          <label for="startDate">Fecha de Inicio</label>
          <div class="date-picker-container">
            <input
              ngxDaterangepickerMd
              [(ngModel)]="startDate"
              id="startDate"
              class="form-control"
              name="startDate"
              placeholder="Selecciona la fecha de inicio"
              required
              [singleDatePicker]="true"
              [autoApply]="true"
              autocomplete="off"
            />
          </div>
        </div>
        <button type="submit" class="submit-button">Reservar Ahora</button>
      </form>

      <!-- Mensaje de confirmación -->
      <div *ngIf="bookingSuccess" class="confirmation-message">
        <p>¡Reserva confirmada con éxito!</p>
      </div>
    </div>
  </div>
</div>
