<div class="container" [ngClass]="{ 'sidebar-expanded': isSidebarExpanded }">
    <!-- Sidebar -->
    <div class="sidebar" [ngClass]="{ 'expanded': isSidebarExpanded }">
        <app-sidebar (mouseenter)="expandSidebar()" (mouseleave)="collapseSidebar()"></app-sidebar>
    </div>

<div id="booking" class="section">
    <div class="booking-form">
        <div class="form-title">Reserva para {{ tarea?.nombre }}</div>
        <form (ngSubmit)="confirmBooking()" *ngIf="!bookingSuccess">
            <div class="form-group">
                <label for="description">Descripción</label>
                <textarea id="description" class="form-control" placeholder="Escribe una descripción de tu reserva" required></textarea>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="email" class="form-control" placeholder="Ingresa tu correo electrónico" required>
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input id="telefono" type="tel" class="form-control" placeholder="Ingresa tu número de teléfono" required>
            </div>
            <div class="form-group">
                <label for="startDate">Fecha de Inicio</label>
                <input ngxDaterangepickerMd [(ngModel)]="startDate" id="startDate" class="form-control" placeholder="Selecciona la fecha de inicio" required [singleDatePicker]="true" [autoApply]="true">
            </div>
            <div class="form-group">
                <label for="endDate">Fecha de Fin</label>
                <input ngxDaterangepickerMd [(ngModel)]="endDate" id="endDate" class="form-control" placeholder="Selecciona la fecha de fin" required [singleDatePicker]="true" [autoApply]="true">
            </div>
            <div class="form-group">
                <label for="startTime">Hora de Inicio</label>
                <input type="time" id="startTime" class="form-control" [(ngModel)]="startTime" required>
            </div>
            <div class="form-group">
                <label for="duration">Duración en Horas</label>
                <input type="number" id="duration" class="form-control" [(ngModel)]="duration" placeholder="Número de horas" min="1" required>
            </div>
            <button type="submit" class="submit-button">Reservar Ahora</button>
        </form>

        <!-- <div *ngIf="bookingSuccess" class="confirmation-message">
            <p>¡Reserva confirmada con éxito!</p>
            <button class="submit-button" (click)="goBack()">Volver a Inicio</button>
        </div> -->
    </div>
</div>
