/* Botón de carga */
.button-container {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
}

.upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centra horizontalmente */
    padding: 1em;
    border: 2px dashed #ccc;
    background-color: #f9f9f9;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40%;
    /* Ajusta el ancho */
    height: 100%;
    /* Ajusta la altura */
    text-align: center;
    /* Centra el contenido dentro del botón */
    gap: 1em;
    /* Espacio entre el icono y el texto */
}

.upload-button:hover {
    background-color: #eaeaea;
}

/* Icono ajustado */
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centra el icono dentro de su contenedor */
}

.icon svg {
    width: 12em;
    /* Ajusta el tamaño del icono */
    height: 8em;
    color: #666;
}

.upload-button span {
    font-size: 3em;
    color: #666;
    display: flex;
    align-items: center;
    /* Centra el texto verticalmente */
}