<div class="card-container">
    <div class="card">
        <div class="image-wrapper">
            <img src="https://images.pexels.com/photos/1109543/pexels-photo-1109543.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="Pequeñas empresas">
        </div>
        <h3>Tu solución a un click</h3>
        <p>Encuentra rápidamente al profesional que necesitas para cualquier proyecto, desde reparaciones pequeñas hasta grandes renovaciones, sin complicaciones.</p>
    </div>

    <div class="card">
        <div class="image-wrapper">
            <img src="https://images.pexels.com/photos/834863/pexels-photo-834863.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="Ventas">
        </div>
        <h3>Conecta con los mejores en su área</h3>
        <p>Te ponemos en contacto con expertos verificados en una amplia gama de servicios, asegurando calidad y confianza en cada contratación.</p>
    </div>

    <div class="card">
        <div class="image-wrapper">
            <img src="https://images.pexels.com/photos/1108101/pexels-photo-1108101.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="Atención al Cliente">
        </div>
        <h3>Servicios de calidad, sin complicaciones</h3>
        <p>Con tiraparo.com, contratar profesionales es más fácil que nunca. Simplificamos el proceso para que encuentres al especialista ideal en poco tiempo.</p>
    </div>

    <div class="card">
        <div class="image-wrapper">
            <img src="https://images.pexels.com/photos/20044365/pexels-photo-20044365/free-photo-of-ordenador-portatil-trabajando-hombres-vaso.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="Ver todos los productos">
        </div>
        <h3>Solución perfecta para tu hogar o negocio</h3>
        <p>Desde proyectos de mejora del hogar hasta servicios empresariales, tiraparo.com te conecta con los profesionales adecuados para hacer el trabajo de manera eficiente y profesional.</p>
    </div>
</div>
