body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", serif;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  min-height: 100vh;
  margin: 0;
}

.calendar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1600px;
  padding: 20px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 2em;
  margin-bottom: 20px;
}

.calendar-header h1 {
  margin: 0;
  font-weight: 800;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.calendar-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.calendar-days li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 9rem; /* Ajuste para hacer las celdas más grandes */
  width: 9rem;
  font-weight: 300;
  font-size: 1.4rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.calendar-days li time {
  font-size: 1.8rem;
  font-weight: 500;
}

.today {
  background: #ffffff70;
}

.other-month time {
  color: #ccc;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.legend {
  font-size: 1.2em;
}

.legend-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.platform-1 {
  background-color: #b0c4de;
}
.platform-2 {
  background-color: #90ee90;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  max-height: 80vh;
  overflow-y: auto;
}

.item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.more-button {
  background-color: #007bff;
  border: none;
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.more-button:hover {
  background-color: #0056b3;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

.sidebar {
  padding: 20px;
}

.sidebar.expanded {
  width: 150px;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: all 0.3s ease;
}

/* Contenedor principal */
.container {
  display: grid;
  grid-template-columns: auto 1fr;
  transition: grid-template-columns 0.3s ease;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  padding: 20px;
  transition: width 0.3s ease;
}

.sidebar.expanded {
  width: 200px; /* Ancho del sidebar expandido */
}

/* Contenido principal */
.main-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: auto;
}

/* Ajustes para dispositivos pequeños */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .sidebar {
    position: absolute;
    z-index: 1000;
    left: -250px;
    height: 100%;
    transition: left 0.3s ease;
  }

  .sidebar.expanded {
    left: 0;
  }

  .main-content {
    padding: 10px;
  }
}

.calendar-content {
  justify-content: center;
}

.main-content {
  margin-left: 6rem; /* Margen reducido en 1 rem */
}
