<div class="calendar-wrapper">
    <div class="calendar-header">
        <button (click)="prevMonth()">Anterior</button>
        <h1>{{ monthNames[selectedMonth] }} {{ selectedYear }}</h1>
        <button (click)="nextMonth()">Siguiente</button>
    </div>

    <div class="calendar-content">
        <div>
            <div class="weekdays">
                <div *ngFor="let day of weekdays">{{ day }}</div>
            </div>

            <ul class="calendar-days">
                <li *ngFor="let day of daysInMonth" [ngClass]="{'today': day.isToday}">
                    <time [attr.datetime]="getDateString(day)">{{ day.day }}</time>
                    <div *ngFor="let item of day.items" [ngClass]="item.platform" class="item-card">
                        {{ item.contentType }}
                    </div>
                </li>
            </ul>
        </div>

        <div class="sidebar">
            <div class="legend">
                <h3>Plataformas</h3>
                <p><span class="legend-color platform-1"></span> Reservas</p>
                <p><span class="legend-color platform-2"></span> Mis reservas</p>
            </div>
        </div>
    </div>
</div>