<div class="container" [ngClass]="{ 'sidebar-expanded': isSidebarExpanded }">
    <!-- Sidebar -->
    <div class="sidebar" [ngClass]="{ 'expanded': isSidebarExpanded }">
        <app-sidebar (mouseenter)="expandSidebar()" (mouseleave)="collapseSidebar()"></app-sidebar>
    </div>

    <!-- Main Content -->
    <div class="main-content">

        <!-- Short Categories (Tarjetas) -->
        <div class="cards-container">
            <div id="tareas">
                <app-tareascard></app-tareascard>
            </div>
        </div>

        <!-- Free Space -->
        <div class="free-space">

        </div>
    </div>
</div>