<div class="container" [ngClass]="{ 'sidebar-expanded': isSidebarExpanded }">
    <!-- Sidebar -->
    <div class="sidebar" [ngClass]="{ 'expanded': isSidebarExpanded }">
        <app-sidebar (mouseenter)="expandSidebar()" (mouseleave)="collapseSidebar()"></app-sidebar>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <!-- Searchbar -->
        <div class="searchbar">
            <app-searchbar></app-searchbar>
        </div>

        <!-- Short Categories (Tarjetas) -->
        <div class="cards-container">
            <div id="filtros">
                <app-shortcategories></app-shortcategories>
            </div>
            <div id="perfiles">
                <app-perfilcards></app-perfilcards>
            </div>
        </div>

        <!-- Free Space -->
        <div class="free-space">

        </div>
    </div>
</div>