/* Contenedor principal del carrusel */
.orders-gallery {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  max-width: 90%;
  padding: 0 2vw;
  margin: 2rem auto; /* Separación entre los carruseles */
}

.main-container {
  margin-top: 2rem;
}

/* Estilo de las miniaturas (cards) y ocultar scrollbars */
.orders-thumbnails {
  display: flex;
  gap: 2vw;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: calc(100% - 4vw);
  padding: 0 2vw;
}

/* Ocultar las barras de desplazamiento */
.orders-thumbnails::-webkit-scrollbar {
  display: none;
}
.orders-thumbnails {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Estilo de las tarjetas */
.order-wrapper {
  flex: 0 0 25%;
  min-height: 40vh;
  border: 0.1rem solid #ccc;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Asegura que las imágenes estén en la parte superior */
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.order-wrapper:hover {
  transform: scale(1.05);
}

/* Estilo para las imágenes */
.order-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen al espacio disponible */
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* Contenido de las tarjetas */
.card-content {
  padding: 1.5vh;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-content h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}

.card-content p {
  font-size: 1rem;
  margin: 0.5vh 0;
}

/* Botones de navegación */
.nav-left,
.nav-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ff7800;
  border: none;
  color: white;
  padding: 1vh;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 2;
}

.nav-left {
  left: 0.5vw;
}

.nav-right {
  right: 0.5vw;
}

.nav-left:hover,
.nav-right:hover {
  background-color: #ff6801;
}

/* Estilo del botón "Marcar como Completado" en el modal */
.complete-btn {
  background-color: #ff7800;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: inline-block;
  text-align: center;
}

.complete-btn:hover {
  background-color: #ff6801;
}

/* Iconos y superposición */
.icon-background {
  position: absolute;
  font-size: 5vw;
  color: #e0e0e0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.order-wrapper .card-content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  opacity: 0;
  border-radius: 1rem;
  padding: 1vh;
  transition: opacity 0.5s ease;
}

.order-wrapper:hover .card-content {
  opacity: 1;
}

.main-container {
  margin-left: 7rem;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .order-wrapper {
    flex: 0 0 45%;
    max-height: 30vh;
  }

  .order-wrapper img {
    height: 50%;
  }

  .orders-gallery {
    max-width: 95%;
    padding: 0 1rem;
  }

  .orders-thumbnails {
    gap: 1rem;
  }

  .nav-left,
  .nav-right {
    font-size: 1.25rem;
  }

  .main-container {
    margin-left: 6rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .order-wrapper {
    flex: 0 0 90%;
    max-height: 30vh;
  }

  .order-wrapper img {
    height: 50%;
  }

  .card-content h3 {
    font-size: 1rem;
  }

  .card-content p {
    font-size: 0.85rem;
  }

  .nav-left,
  .nav-right {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .main-container {
    margin-left: 4rem;
    margin-right: 2rem;
  }
}
