/* Contenedor principal del carrusel */
.orders-gallery {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    max-width: 1000px;
    padding: 0 2rem;
    margin: 2rem auto; /* Separación entre los carruseles */
}

.main-container{
    margin-top: 2rem;
}

/* Estilo de las miniaturas (cards) y ocultar scrollbars */
.orders-thumbnails {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: calc(100% - 4rem);
    padding: 0 1rem;
}

/* Ocultar las barras de desplazamiento */
.orders-thumbnails::-webkit-scrollbar {
    display: none;
}
.orders-thumbnails {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Estilo de las tarjetas */
.order-wrapper {
    flex: 0 0 250px;
    height: auto;
    min-height: 300px;
    max-height: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.order-wrapper:hover {
    transform: scale(1.05);
}

.card-content {
    padding: 20px;
    text-align: center;
}

/* Botones de navegación */
.nav-left, .nav-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ff7800;
    border: none;
    color: white;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
}

.nav-left {
    left: 0.5rem;
}

.nav-right {
    right: 0.5rem;
}

.nav-left:hover, .nav-right:hover {
    background-color: #ff6801;
}
