<div class="container" [ngClass]="{ 'sidebar-expanded': isSidebarExpanded }">
    <!-- Sidebar -->
    <div class="sidebar" [ngClass]="{ 'expanded': isSidebarExpanded }">
      <app-sidebar (mouseenter)="expandSidebar()" (mouseleave)="collapseSidebar()"></app-sidebar>
    </div>
  
    <!-- Main Content -->
    <section class="main-container">
      <!-- Mis Peticiones Section -->
      <div class="section ordenes-container">
        <h2>Mis peticiones de servicios</h2>
        <hr>
        <div class="orders-gallery">
          <button class="nav-left" (click)="scrollOrdersLeft()">&larr;</button>
          <div class="orders-thumbnails">
            <div *ngFor="let peticion of misPeticiones" class="order-wrapper" [attr.id]="peticion.id">
              <div class="card-content">
                <h3>{{ peticion.nombre }}</h3> <!-- Se muestra el nombre -->
                <p>{{ peticion.descripcion }}</p> <!-- Se muestra la descripción -->
                <p>Precio: ${{ peticion.precio }}</p>
              </div>
            </div>
          </div>
          <button class="nav-right" (click)="scrollOrdersRight()">&rarr;</button>
        </div>
      </div>
  
      <!-- Mis Órdenes de Servicio Section -->
      <div class="section ordenes-container">
        <h2>Mis órdenes de servicio</h2>
        <hr>
        <div class="orders-gallery">
          <button class="nav-left" (click)="scrollOrdersLeft()">&larr;</button>
          <div class="orders-thumbnails">
            <div *ngFor="let orden of misOrdenes" class="order-wrapper" [attr.id]="orden.id">
              <div class="card-content">
                <h3>{{ orden.nombre }}</h3> <!-- Se muestra el nombre -->
                <p>{{ orden.descripcion }}</p> <!-- Se muestra la descripción -->
                <p>Precio: ${{ orden.precio }}</p>
              </div>
            </div>
          </div>
          <button class="nav-right" (click)="scrollOrdersRight()">&rarr;</button>
        </div>
      </div>
    </section>
  </div>