/* Estilos generales */
* {
    box-sizing: border-box;
}

.carousel-wrapper {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 35px auto;
    overflow: hidden;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.carousel-container {
    display: flex;
    min-height: 100%;
    transition: transform 0.5s ease;
}

/* Estilo de las diapositivas */
.slide {
    display: none;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.slide.active {
    display: flex;
    flex-direction: row;
}

.slide-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-right: 20px;
    margin-right: 20px;
}

.slide-content {
    flex: 1;
}

.title {
    font-size: 2.2em;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.description {
    font-size: 1.1em;
    color: #555;
    line-height: 1.5;
    text-align: justify;
    font-family: 'Arial', sans-serif;
}

.footnote {
    font-size: 0.9em;
    color: #999;
    margin-top: 10px;
    font-style: italic;
    font-family: 'Arial', sans-serif;
}

.slide-image {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 55%;
}

.image,
.video-background {
    max-width: 100%;
    max-height: 70vh;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

/* Barra de progreso */
.progress-bar-container {
    margin-top: 10px;
    width: 100%;
    height: 4px;
    display: flex;
    justify-content: space-between;
    background-color: #e0e0e0;
    border-radius: 2px;
}

.progress-bar-segment {
    flex: 1;
    height: 100%;
    cursor: pointer;
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
}

.progress-bar-segment:not(:last-child) {
    margin-right: 2px;
}

.progress-bar-segment.active {
    background-color: #ff6801;
}

/* Media queries */
@media (max-width: 700px) {
    .slide.active {
        flex-direction: column;
    }

    .slide-content-wrapper {
        width: 100%;
        margin-right: 0;
        padding-right: 0;
    }

    .slide-image {
        width: 100%;
        margin-top: 20px;
    }

    .title {
        font-size: 1.8em;
    }

    .description {
        font-size: 1em;
    }

    .footnote {
        font-size: 0.8em;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 1.6em;
    }

    .description {
        font-size: 1em;
    }

    .footnote {
        font-size: 0.8em;
    }
}

@media (max-width: 440px) {
    .contenedor-del-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        height: auto;
    }

    .slide.active {
        flex-direction: column;
    }

    .slide-image {
        width: 100%;
        margin-top: 20px;
    }

    h1, p {
        font-size: 1em;
        margin: 0;
    }
}

/* Contenedor de texto */
.contenedor-del-texto {
    margin: 0 auto;
    padding: 15px;
    height: auto;
    max-width: 100%;
    overflow: hidden;
}

@media (max-width: 300px) {
    .contenedor-del-texto {
        font-size: 0.9em;
    }

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.8em;
    }
}
