<div class="carousel-wrapper">
    <div class="carousel-container">
        <div class="slide" *ngFor="let slide of slides; let i = index" [class.active]="i === currentSlide">
            <div class="slide-content-wrapper" *ngIf="i === currentSlide">
                <div class="slide-content">
                    <h1 class="title" style="color: #ff6801;">{{ slide.title }}</h1>
                    <p class="description" [innerHTML]="slide.description"></p>
                    <p class="footnote">{{ slide.footnote }}</p>
                </div>
                <div class="progress-bar-container">
                    <div class="progress-bar-segment" *ngFor="let s of slides; let idx = index"
                        [class.active]="idx === currentSlide" (click)="goToSlide(idx)"></div>
                </div>
            </div>

            <!-- Display video or image based on the isVideo flag -->
            <div class="slide-image" *ngIf="i === currentSlide">
                <ng-container *ngIf="slide.isVideo; else imageContent">
                    <video autoplay muted loop playsinline class="video-background" [muted]="true">
                        <source [src]="slide.videoUrl" type="video/mp4" />
                        Tu navegador no soporta el video HTML5.
                    </video>
                </ng-container>
                <ng-template #imageContent>
                    <img [src]="slide.image" alt="Slide Image" class="image" />
                </ng-template>
            </div>
        </div>
    </div>
</div>
