<div class="fatherContainers">
    <div class="container">

        <article class="card">
            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor"
                class="bi bi-info-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
            </svg>
            <div class="card__content">
                <h2 class="card__title">¿Quienes somos?</h2>
                <p class="card__description">
                    En tiraparo.com, somos el vínculo entre quienes buscan servicios confiables y profesionales
                    altamente
                    capacitados en una
                    amplia variedad de oficios. Nuestra misión es ofrecer una experiencia de contratación fácil, segura
                    y de
                    calidad, tanto
                    para tu hogar como para tu negocio.
                    <br>
                    <br>
                    Contamos con un equipo de expertos listos para respaldar cualquier proyecto, asegurando un servicio
                    excepcional y
                    soluciones adaptadas a tus necesidades.
                </p>
            </div>
        </article>
    </div>

    <div class="container">
        <article class="card">
            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bi bi-coin"
                viewBox="0 0 16 16">
                <path
                    d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z" />
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12" />
            </svg>
            <div class="card__content">
                <h2 class="card__title">¿Como funciona?</h2>
                <p class="card__description">
                    En tiraparo.com, nos dedicamos a conectar a profesionales como tú con una amplia base de clientes
                    que buscan
                    servicios
                    de calidad. Nuestro objetivo es facilitarte el acceso a nuevas oportunidades de trabajo y ayudarte a
                    expandir
                    tu negocio
                    sin complicaciones.
                    <br>
                    <br>
                    Trabajamos bajo un modelo sencillo y transparente: solo cobramos un 5% sobre el costo de tu mano de
                    obra al
                    mes, sin
                    incluir gastos adicionales como materiales o transporte. Esto significa que solo pagas por los
                    trabajos que
                    realizas, y
                    siempre mantienes el control total sobre tu presupuesto y tarifas.
                </p>
            </div>
        </article>
    </div>

    <div class="container">
        <article class="card">
            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bi bi-card-list"
                viewBox="0 0 16 16">
                <path
                    d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z" />
                <path
                    d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0" />
            </svg>
            <div class="card__content">
                <h2 class="card__title">Ventajas</h2>
                <p class="card__description">
                    Acceso a una amplia base de clientes: Conecta con personas que buscan tus servicios en tu área,
                    aumentando tus
                    oportunidades de negocio.
                    <br>
                    <br>
                    Modelo de comisión transparente: Solo cobramos un 5% sobre el costo de tu mano de obra al mes, sin
                    incluir
                    materiales o
                    transporte, asegurando que solo pagues por los trabajos realizados.
                    <br>
                    <br>
                    Control total de tu negocio: Establece tus propios precios, horarios y condiciones de trabajo,
                    manteniendo el
                    control
                    sobre cómo ofreces tus servicios.
                </p>
            </div>
        </article>
    </div>

    <div class="container">
        <article class="card">
            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor"
                class="bi bi-calendar-check" viewBox="0 0 16 16">
                <path
                    d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0" />
                <path
                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
            </svg>
            <div class="card__content">
                <h2 class="card__title">Facilidades</h2>
                <p class="card__description">
                    Facilidad para gestionar tus trabajos: Utiliza nuestra plataforma para organizar tus solicitudes,
                    comunicarte
                    con los
                    clientes y gestionar tus proyectos de forma sencilla.
                    <br>
                    <br>
                    Reseñas y valoraciones: Recibe valoraciones de tus clientes satisfechos, lo que te ayudará a
                    destacar y ganar
                    más
                    confianza de futuros clientes.
                    <br>
                    <br>
                    Soporte y atención personalizada: Contamos con un equipo de soporte listo para ayudarte y responder
                    a tus
                    preguntas en
                    cualquier momento.
                </p>
            </div>
        </article>
    </div>
</div>