<div class="profile-title">
  <h2>Tareas/Servicios de {{ descripcion }}</h2>
</div>

<div class="btn-container" *ngIf="isSameUser">
  <button class="btn-add-task" (click)="abrirModal()">Agregar Tarea</button>
</div>

<div class="card-container">
  <div *ngFor="let tarea of tareas" class="card">
    <div class="card-img" *ngIf="tarea.imagenes && tarea.imagenes.length > 0">
      <div
        class="image"
        [ngStyle]="{'background-image': 'url(' + tarea.imagenes[tarea.currentImageIndex] + ')'}"
      ></div>
      <button
        *ngIf="tarea.imagenes.length > 1"
        (click)="prevImage(tarea)"
        aria-label="Imagen anterior"
        title="Imagen anterior"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-left svg-icon" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223"/>
        </svg>
      </button>
      <button
        *ngIf="tarea.imagenes.length > 1"
        (click)="nextImage(tarea)"
        aria-label="Imagen siguiente"
        title="Imagen siguiente"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-right svg-icon" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671"/>
        </svg>
      </button>
    </div>
    <div class="card-info">
      <p class="text-title">{{ tarea.nombre }} </p>
      <p class="text-body">{{ tarea.descripcion }}</p>
    </div>
    <div class="card-footer">
      <span class="text-title">{{ tarea.precio | currency }}</span>
      <div class="card-button-container">
        <ng-container *ngIf="isSameUser; else comprarButton">
          <!-- Botones de Editar y Eliminar -->
          <div class="action-buttons">
            <div
              class="action-button"
              (click)="navigateToEdit(tarea.id)"
              aria-label="Editar tarea"
              title="Editar tarea"
            >
              <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon">
                <!-- Ícono de Editar -->
                <path
                  d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"
                />
              </svg>
            </div>
            <div
              class="action-button"
              (click)="deleteTarea(tarea.id)"
              aria-label="Eliminar tarea"
              title="Eliminar tarea"
            >
              <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon">
                <!-- Ícono de Eliminar -->
                <path
                  d="M5.5 5V4a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v1h3.5a.5.5 0 0 1 0 1H2a.5.5 0 0 1 0-1H5.5zm1-.5V4h6v.5h-6z"
                />
              </svg>
            </div>
          </div>
        </ng-container>
        <ng-template #comprarButton>
          <div (click)="navigateToBooking(tarea.id)" aria-label="Contratar servicio" title="Contratar servicio">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-calendar-plus svg-icon" viewBox="0 0 20 20">
              <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7"/>
              <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
            </svg>
          </div>
        </ng-template>
      </div>
      
    </div>
    
  </div>
</div>
