.modal-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
  
  .close-btn {
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .modal-form {
    margin-top: 15px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea.form-control {
    resize: vertical;
    height: 100px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .btn {
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancel-btn {
    background-color: #f44336;
    color: white;
    margin-right: 10px;
  }
  
  .submit-btn {
    background-color: #4CAF50;
    color: white;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  
  /* Galería de imágenes */
  .image-gallery {
    margin-top: 15px;
  }
  
  .gallery-container {
    display: flex;
    align-items: center;
  }
  
  .thumbnails {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    max-width: 300px;
  }
  
  .thumbnail-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .thumbnail-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
    width: 20px;
    height: 20px;
    display: none;
  }
  
  .thumbnail-wrapper:hover .delete-btn {
    display: block;
  }
  
  .nav-left,
  .nav-right {
    background-color: #f1f1f1;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
  }
  
  .nav-left:hover,
  .nav-right:hover {
    background-color: #ddd;
  }
  
  .nav-left {
    margin-right: 10px;
  }
  
  .nav-right {
    margin-left: 10px;
  }
  