<!-- Botón para abrir el modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#customModal">
    Abrir Modal
</button>

<!-- Modal -->
<div class="modal fade" id="customModal" tabindex="-1" aria-labelledby="customModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-container">
            <div class="modal-header">
                <h5 class="modal-title modal-title" id="customModalLabel">Agregar Nueva Tarea</h5>
                <button type="button" class="btn-close close-btn" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body modal-form">
                <div class="form-group">
                    <label for="nombre">Nombre de la Tarea</label>
                    <input type="text" id="nombre" class="form-control" placeholder="Escribe el nombre de la tarea"
                        [(ngModel)]="nombreTarea">
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <textarea id="descripcion" class="form-control" placeholder="Describe la tarea"
                        [(ngModel)]="descripcionTarea"></textarea>
                </div>
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input type="number" id="precio" class="form-control" placeholder="Solo el costo de la mano de obra"
                        [(ngModel)]="precioTarea">
                </div>
                <div class="form-group">
                    <label for="imagen">Agregar Imagen(es)</label>
                    <label class="custum-file-upload" for="imagen">
                      <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="" viewBox="0 0 24 24" width="50" height="50">
                          <path fill="" d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V9C19 9.55228 19.4477 10 20 10C20.5523 10 21 9.55228 21 9V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM14 15.5C14 14.1193 15.1193 13 16.5 13C17.8807 13 19 14.1193 19 15.5V16V17H20C21.1046 17 22 17.8954 22 19C22 20.1046 21.1046 21 20 21H13C11.8954 21 11 20.1046 11 19C11 17.8954 11.8954 17 13 17H14V16V15.5ZM16.5 11C14.142 11 12.2076 12.8136 12.0156 15.122C10.2825 15.5606 9 17.1305 9 19C9 21.2091 10.7909 23 13 23H20C22.2091 23 24 21.2091 24 19C24 17.1305 22.7175 15.5606 20.9844 15.122C20.7924 12.8136 18.858 11 16.5 11Z"></path>
                        </svg>
                      </div>
                      <div class="text">
                        <span>Click para agregar imágenes</span>
                      </div>
                      <input 
                        type="file" 
                        id="imagen" 
                        class="form-control" 
                        (change)="onImageSelected($event)" 
                        multiple
                        accept="image/*" 
                        style="display: none;">
                    </label>
                  </div>
                             

                <!-- Galería de imágenes con desplazamiento estilo carrusel -->
                <div class="image-gallery" *ngIf="imagePreviews.length > 0">
                    <h4>Vista Previa de Imágenes ({{ imageCount }}):</h4>
                    <div class="gallery-container">
                        <button class="nav-left" (click)="scrollLeft()">&larr;</button>
                        <div class="thumbnails">
                            <div *ngFor="let preview of imagePreviews; let i = index" class="thumbnail-wrapper">
                                <img [src]="preview" alt="Vista Previa" class="thumbnail-image">
                                <button class="delete-btn" (click)="deleteImage(i)">×</button>
                            </div>
                        </div>
                        <button class="nav-right" (click)="scrollRight()">&rarr;</button>
                    </div>
                </div>
            </div>

            <div class="modal-footer modal-actions">

                <button type="button" class="btn btn-primary submit-btn" (click)="guardarTarea()">Guardar</button>
            </div>
        </div>
    </div>
</div>